@page "/Index"
@model IndexModel
@{
    ViewData["Title"] = "Página do Rafael";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>"A persistência leva ao sucesso."</p>
</div>
