@page "/"
@using rafaeldomenici.Models
@model rafaeldomenici.Pages.NovaPaginaModel
@{
    ViewData["Title"] = "Nova página";
}

@functions {
    List<Pessoa> listaPessoas = new List<Pessoa>
    {
        new Pessoa {Nome = "Felipe", Idade = 33, Cpf = "111.111.111-11"},
        new Pessoa {Nome = "Lucas", Idade = 34, Cpf = "222.222.222-22"},
        new Pessoa {Nome = "João", Idade = 32, Cpf = "333.333.333-33"}
    };


}

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Idade</th>
            <th>CPF</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var pessoa in listaPessoas) {
            <tr>
                <td>@pessoa.Nome</td>
                <td>@pessoa.Idade</td>
                <td>@pessoa.Cpf</td>
            </tr>
        }
    </tbody>
</table>
